/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

* {
  box-sizing: border-box;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0.2) 1px, transparent 1px), linear-gradient(to bottom, rgba(255, 0, 0, 0.2) 1px, transparent 1px);
  background-size: 16px 16px;
  z-index: 9999;
}

body {
  margin: 0;
  padding: 0;
  background-color: pink;
  font-family: Arial, Helvetica, sans-serif;
  /* overflow: hidden; */
  /* width: 100vh; */
  /* max-width: 768px; */
  /* overflow-x: hidden; */
}

img {
  max-width: 100%;
  height: auto;
  /* display: block; */
  /* border: 1.5px burlywood solid; */
}

nav {
  background-color: #540b51;
  /* border-bottom: 1px solid white; */
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 0.5em;
  z-index: 1000;

  .slack-logo {
    padding-left: 1em;
    height: 1.5em;
    display: flex;
    flex: 1;
    align-items: center;
    /* border: 1px solid white; */
    /* background-color: aqua; */
  }

  .slack-logo img {
    /* align-self: flex-start; */
    /* width: 30%;  */
    height: 80%;
    margin: 0;
    /* border: 1px solid red; */
  }

  ul {
    display: none;
  }

  .navbar-icons {
    display: flex;
    height: 100%;
    /* border: 1px orange solid; */
    /* background-color: pink; */

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #540b51;
      /* background-color: rgb(169, 157, 182); */
      margin: 0;
      width: 3em;
      border: none;
      /* padding-left: 2em; */
    }

    img {
      /* height: 100%; */
      width: 1.4em;
      /* margin: auto; */
      /* padding: auto; */
      /* border: 1px solid white; */
    }
  }
}

header {
  background-color: #540b51;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2em;

  h1 {
    color: white;
    text-align: center;
    margin: auto 1em;
    font-size: 2em;
  }

  p {
    align-self: center;
    text-align: center;
    color: white;
    font-size: 0.9em;
    /* margin: auto 3em; */

    span {
      color: #ecb12f;
      font-weight: bold;
    }
  }

  div.sign-up-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    padding: 20px;
    /* background-color: green; */

    .btn {
      height: 3rem;
      cursor: pointer;
      font-size: 0.8rem;
      font-weight: bold;
      color: #540b51;
      margin: auto 0;
      padding: 0.5rem;
      text-transform: uppercase;
      /* border: red dashed 2px; */
      border: none;
      border-radius: 0.2rem;
    }

    .btn--google {
      background-color: #4285f4;
      /* height: 100%; */
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      position: relative;

      .containerImgLogoGoogle {
        position: absolute;
        left: 0.5rem;
        background-color: white;
        border-radius: 0.1rem;
        height: 3em;
        width: 3em;
        /* height: 4em; */
        /* width: 3rem; */
        padding: 0.2em;
        /* margin-top: 10px; */
        /* margin-top: 1rem; */
        /* margin: 0.5rem; */
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .containerImgLogoGoogle img {
        /* margin: auto; */
        width: 70%;
        /* aspect-ratio: 1 / 1;  */
        /* background-color: aqua; */
        /* border: 1px black solid; */
      }

      span {
        /* flex: 1; */
        /* justify-self: center; */
        /* margin-left: 6em; */
        /* border: 1px white solid; */
      }
    }
  }
}

header * {
  /* border: 2px solid aqua; */
}

.main-screenshot {
  /* width: 100%; */

  img {
    width: 100%;
    /* width: 50px;
      height: 50px;   */
  }
}
